/****

 Here go all the variables for the site

****/


/* Colors */
$main_color: #7D0063; // purple


/* Fonts */
$header-font: 	'arial_mt_stdlight_cond', Arial, sans-serif;
$header-font-alt: 'arial_mt_stdbold_cond', Arial, sans-serif;