/****

 Here go all the variables for the site

****/


/* Colors */
$main_color: #7D0063; // purple
$color_2: #7D0063; // purple
$color_3: #7D0063; // purple
$color_4: #7D0063; // purple
$color_5: #7D0063; // purple
$color_6: #7D0063; // purple
$color_7: #7D0063; // purple

$brand_color: #f0ab00; 


/* Fonts */
$header-font:  'arial_mt_stdbold_cond', sans-serif;
$header-font-alt: "acumin-pro",sans-serif; //'arial_mt_cond', Arial, sans-serif;


