

@charset "utf-8";

@import "bootstrap/bootstrap";

.chapter0 {
    background-image: url("../img/cover.jpg");
    background-size: cover;
    color: #FFF;
}		
	
.chapter1 {
    background-image: url("../img/section1.jpg");
    background-size: cover;
    color: #FFF;
    margin-bottom: 30px;
    
}	
.chapter2 {
    background-image: url("../img/section2.jpg");
    background-size: cover;
    color: #FFF;
    margin-bottom: 30px;
    
}
.chapter3 {
    background-image: url("../img/section3.jpg");
    background-size: cover;
    color: #FFF;
    margin-bottom: 30px;
}
.chapter4 {
    background-image: url("../img/section4.jpg");
    background-size: cover;
    color: #FFF;
    margin-bottom: 30px;
    
}
.chapter5 {
    background-image: url("../img/section5.jpg");
    background-size: cover;
    color: #FFF;
    margin-bottom: 30px;
    
}
.chapter6 {
    background-image: url("../img/section6.jpg");
    background-size: cover;
    color: #FFF;
    margin-bottom: 30px;
    
}
.chapter7 {
    background-image: url("../img/section7.jpg");
    background-size: cover;
    color: #FFF;
    margin-bottom: 30px;
    
}
.chapter8 {
    background-image: url("../img/section8.jpg");
    background-size: cover;
    color: #FFF;
    margin-bottom: 30px;
    
}
.chapter9 {
    background-image: url("../img/section9.jpg");
    background-size: cover;
    color: #FFF;
    margin-bottom: 30px;
    
}

/* MIX-INS */
@mixin breakpoint($point) {
	@if $point == large {
		@media only screen and (min-width : 1401px) { @content; }
	}
	@else if $point == landscape {
		@media only screen and (min-width : 802px) and (max-width : 1025px) { @content; }
	}
	@else if $point == portrait {
		@media only screen and (min-width : 642px) and (max-width : 801px) { @content; }
	}
	@else if $point == mobile {
		@media only screen and (max-width : 641px) { @content; }
	}
}
@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}


/* ADDITIONAL RESET */
html {
	min-height: 100%;
	height: 100%;
	-webkit-text-size-adjust: none;
}
body {
	height: 100%;
	width: 100%;
	position: relative;
	overflow-x: hidden;
}
* {
   	@include box-sizing(border-box);

   	&:before,
   	&:after {
   		@include box-sizing(border-box);
   	}
}

/* CLEAR & FLOATS */
.left {
	float: left !important;
}
.right {
	float: right !important;
}
.clearfix {
	&:after {
		clear: both;
		display: table;
		content: '';
	}
}

.nomobile {
	@include breakpoint(mobile) {
		display: none;
	}
}
