

@charset "utf-8";

@import "bootstrap/bootstrap";
@import "variables";

.show-mobile {

}


.chart-container {
    font-family: $header-font-2;
    margin-bottom: 20px !important;
    * {
        font-family: $header-font-2;
    }
    .highcharts-data-labels text {
        font-size: 12px !important;   
    }
    a.gray-link {
        color: #909090;
    }
}

/****** menu ******/
.main_h {
    position: absolute;
    top: 0px;
    height: 50px;
    z-index: 999;
    width: 100%;
    background-color: white;
    
    &.sticky {
        position: fixed;
        top: -50px;

        //transform: translateY(-50px);
    }
    &.stick {
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
    }
    &.move-down {
        transform: translateY(50px);   
    }
}
.menu-title {
    position: relative;
     border-bottom: 1px solid lightgray;
    z-index: 5;
    float: left;
    transition: transform .3s;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 100%;
    .logo {
        padding: 0 20px;
    }
    > * {
        float: left;
    }
    p {
        margin: 0;
        line-height: 1.42857;
    }
}

p.title {
    font-family: $header-font;
    letter-spacing:0.01px;
    color:#847f7f;
    font-size:1.15em;
}

nav {
    background-color: black;
    padding: 30px;
    transition: all .3s;
    transform: translateX(100vw);
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 99;
    right: 0;
    overflow-y: scroll;
    height: 100vh;
    border-bottom: 1px solid lightgray;
}

 

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 20px;
    a {
        color: lightgray;
        text-transform: uppercase;
        font-family: $header-font;
        font-size: 1.8rem;
    }
    li {
        border-bottom: 1px dotted gray;
        padding: 15px;
    }
    li:first-of-type {
        border-top: 1px dotted gray;
    }
    li:hover {
        a {
            color: $brand_yellow_primary;
            text-decoration:none;
        }
    }
}

@media (min-width: 979px) {
    nav {
        transform: translateX(350px);
        width: 350px;
    }
}

header label {
    position: absolute;
    right: 0;
    top: 0;
    padding: 15px 5px;
    z-index: 130;
    height: 50px;
    width: 50px;
}

.hamburger {
    position: relative;
    top: 0;
    z-index: 100;
    list-style-type: none;
    padding: 0;
    margin: 0;
    &.active {
        li {
            background-color: white;
            &.one {
                transform: translate(-2px, 6px) rotate(45deg);
            }
            &.two {
                opacity: 0;
            }
            &.three {
                transform: translate(-3px, -10px) rotate(-45deg);
            }
        }
    }
}

.hamburger li {
    width: 30px;
    background-color: gray;
    height: 3px;
    margin-bottom: 5px;
    transition: all .3s;
}

#showblock {
  display: none;
}

#showblock:checked + nav {
    transform: translateX(0px);
}

progress {
  /* Positioning */
  position: absolute;
  left: 0;
  bottom: 0;

  /* Dimensions */
  width: 100%;
  height: 5px;

  /* Reset the appearance */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* Progress bar container for Firefox/IE10+ */
  background-color: transparent;

  /* Progress bar value for IE10+ */
  color: $brand_yellow_primary;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

progress::-webkit-progress-value {
  background-color: $brand_yellow_primary;
}

progress::-moz-progress-bar {
  background-color: $brand_yellow_primary;
}

/****** end menu ******/

.row {
 width: 100%;
 max-width: 2000px;
 margin: 0 auto;
 position: relative;
 padding: 0 2%;
}


body {
    padding-top: 50px;
}

.chapter0,
.chapter1,
.chapter2,
.chapter3,
.chapter4,
.chapter5,
.chapter6,
.chapter7,
.chapter8,
.chapter9 {
    background-position: center;
}


/*full width images */


.chapter0 {
    background-image: url("../img/cover.jpg");
    background-size: cover;
    color: #FFF;
}		
	
.chapter1 {
    background-image:url("../img/section1_mobile.jpg");
    background-size: cover;
    background-position: center;
    color: #FFF;
    margin-bottom: 30px;
}	

.chapter2 {
    background-image: url("../img/section2.jpg");
    background-size: cover;
    background-position: center;
    color: #FFF;
    margin-bottom: 30px;
    
}
.chapter3 {
    background-image: url("../img/section3_mobile.jpg");
    background-size: cover;
    background-position: center;
    color: #FFF;
    margin-bottom: 30px;
}
.chapter4 {
    background-image: url("../img/section4.jpg");
    background-size: cover;
    background-position: center;
    color: #FFF;
    margin-bottom: 30px;
    
}
.chapter5 {
    background-image: url("../img/section5.jpg");
    background-size: cover;
    width:100%;
    background-position: center;
    color: #FFF;
    margin-bottom: 30px;
    
}
.chapter6 {
    background-image: url("../img/section6.jpg");
    background-size: cover;
    background-position: center;
    color: #FFF;
    margin-bottom: 30px;
    
}
.chapter7 {
    background-image: url("../img/section7.jpg");
    background-size: cover;
    background-position: center;
    color: #FFF;
    margin-bottom: 30px;
    
}
.chapter8 {
    background-image: url("../img/section8.jpg");
    background-size: cover;
    background-position: center;
    color: #FFF;
    margin-bottom: 30px;
    
}
.chapter9 {
    background-image: url("../img/section9.jpg");
    background-size: cover;
    background-position: center;
    color: #FFF;
    margin-bottom: 30px;
    
}


/* full width images for devices larger than 550px */

@media (min-width: 550px) {

.chapter0 {
    background-image: url("../img/cover.jpg");
    background-size: cover;
    color: #FFF;
}       
    
.chapter1 {
    background-image: url("../img/section1.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #FFF;
    margin-bottom: 30px;
}   

.chapter2 {
    background-image: url("../img/section2.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #FFF;
    margin-bottom: 30px;
    
}
.chapter3 {
    background-image: url("../img/section3.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #FFF;
    margin-bottom: 30px;
}
.chapter4 {
    background-image: url("../img/section4.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #FFF;
    margin-bottom: 30px;
    
}
.chapter5 {
    background-image: url("../img/section5.jpg");
    background-size: cover;
    width:100%;
    background-position: center;
    background-attachment: fixed;
    color: #FFF;
    margin-bottom: 30px;
    
}
.chapter6 {
    background-image: url("../img/section6.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #FFF;
    margin-bottom: 30px;
    
}
.chapter7 {
    background-image: url("../img/section7.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #FFF;
    margin-bottom: 30px;
    
}
.chapter8 {
    background-image: url("../img/section8.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #FFF;
    margin-bottom: 30px;
    
}
.chapter9 {
    background-image: url("../img/section9.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #FFF;
    margin-bottom: 30px;
}


}


@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -o-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}


/* ADDITIONAL RESET */
html {
	min-height: 100%;
	height: 100%;
	-webkit-text-size-adjust: none;
}
body {
	height: 100%;
	width: 100%;
	position: relative;
	overflow-x: hidden;
}
* {
   	@include box-sizing(border-box);

   	&:before,
   	&:after {
   		@include box-sizing(border-box);
   	}
}

/* CLEAR & FLOATS */
.left {
	float: left !important;
}
.right {
	float: right !important;
}
.clearfix {
	&:after {
		clear: both;
		display: table;
		content: '';
	}
}

.hide-mobile {
    display: none;
}

@media (min-width: $screen-md-min) {
    .hide-desktop {
        display: none;
    }
    .hide-mobile {
        display: initial;
    }

}


h1, h2, h3, h4, h5, h6{ 
  font-family: $header-font; 
  //font-weight: 300;
  margin-top: 0;
  margin-bottom: 0px; /* 2rem; */ 
  color: $main_color; }
h1 { 
    font-size: 4.0rem; line-height: 1.0;  letter-spacing: -.1rem; text-transform: uppercase;

}
h2 { font-size: 3.6rem; line-height: 1.25; letter-spacing: -.1rem; }
h3 { font-size: 3.0rem; line-height: 1.3;  letter-spacing: 0rem; }
h4 { font-size: 2.4rem; font-weight:300; line-height: 1.35; letter-spacing: 0rem; }
h5 { font-size: 1.7rem; font-weight:700; line-height: 1.5;  letter-spacing: 0rem; }
h6 { font-size: 1.6rem; line-height: 1.6;  letter-spacing: 0; }



@media (min-width: $screen-md-min) {
    h1 { font-size: 5.6rem; }
    h2 { font-size: 4.2rem; }
    h3 { font-size: 2.2rem; font-weight:400; font-family: Georgia, "Times New Roman", Times, serif;}

    h4 { font-size: 2.2rem; color: #666;}
    h5 { font-size: 1.7rem; font-family: "acumin-pro"; color: #5A5959;}
    h6 { font-size: 1.6rem; font-family: $header-font; color: $main_color; font-weight: 100;}

}

p{
    line-height: 1.7em;
    font-size:1.6rem;
    font-weight:300;
    letter-spacing: 0.25px;
    font-family: Georgia, serif; 
}
 
ul{
    font-family:Georgia, serif;
    list-style: square outside;
    padding-bottom: 5px;
    line-height:1.7em;
    font-size:1.6rem;
    margin-left:-1.2em;
}

ol{
    font-family: Georgia, serif;
}



/* Additions
–––––––––––––––––––––––––––––––––––––––––––––––––– */
ul ul {
    list-style-type: none;
    color:black;
}
.container ul ul li{
    position:relative;
    &:before {
        content:"\2610";
        //display:block;
        //width:6px;
        //height:6px;
        //content:".";
        //text-indent:-9999px;
        //top:12px;
        //box-shadow:0px 0px 1px #888888;
        position:absolute;
        // background-image:url("../img/squareoutline.ico");
        background-size:cover;
        font-family:Georgia;
        font-size:12px;
        left: -20px;
    }
}


.secondarybullet ul{
    //list-style-image: url("../img/squareoutline.ico");
    list-style-type: none;
    color:$main_color;
}

.secondarybullet p{
    position:relative;
}



.secondarybullet li{
    //position:relative;
    //list-style-type:none;
}

.secondarybullet li:before{
    
}

.liststyle{
    color:$main_color;
}

.liststyle p{
    font-family:Georgia, serif;
    line-height:3rem;
    color:black;
    margin:0;
}

.container ul li:before{
    content:"\25A0";
    position:absolute;
    left:15px;
    color:$main_color;
}

.box ul li:before{
    color:#fff;
}

.container ul li{
    list-style-type:none;
}

.tochead{
    color:#000;
}

.tablewrapper{
    overflow-x:scroll;
}

.headersize{
    font-size:3.7em;
}

.leftalign{
    margin-left:-2.2em;
}

.container{
    max-width:100%;
    overflow:hidden;
}

.video-container iframe{
    width:100%;
}

button.button-primary{
    color: #FFF;
    border-color: #CCC;
    background-color: #CCC
}

button{
    font-family: $header-font;
    display: inline-block;
    background-color: transparent;
    border-radius: 4px;
    color: #555;
    text-align: center;
    font-size: 11px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #bbb;
    height: 38px;
    line-height: 38px;
    padding: 0 30px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    white-space: nowrap;
    box-sizing: border-box;
}

button:hover{
    background-color:#E0DFDF;
    border-color:none;
}

a{
    font-family:$header-font;
    font-weight:700;
    color:$main-color;
}

a:hover{
    color:$main-color;
}

.sectionheader{
    padding-bottom:5px;
}

.boxbullet{
    line-height: 2.5rem;
    font-family: $header-font, serif;
}

.boxbullet li{
    padding-bottom:15px;
}

.boxnumber{
    line-height: 2.5rem;
    font-family: $header-font, serif;
}

.signature{
    line-height: 1.4em;
    font-size:1em;
}

.titlesubhead { 
    font-size: 1.4rem;
    font-style: italic;
    color:white;
    letter-spacing: 0.5px;
    margin-bottom: 1rem;

}
.authors {
    font-family: Helvetica, Arial, sans-serif; 
    font-size: 1.3rem;  
    text-transform: uppercase;
    padding-top:20px;
    margin-bottom: 50px;
}


.box p{
    font-family:$header-font, serif;
}

.box { 
    background-color: $main_color;
    color: #FFF;
    padding: 20px;
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-right:20px;
    }

.box_annex{
    font-family:$header-font, serif;
    background-color: #f2e6f0;
    color: #5A5959;
    padding: 20px;
    font-size: 1.5rem;
    margin-bottom: 10px;
    margin-right:20px;
}


.box_annex p{
    font-family:$header-font, serif;
}

.box_annex h1{
    text-transform: uppercase;  
    font-family: $header-font; 
    font-weight:600;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color:  #5A5959;
    letter-spacing: 0.25px;
    margin: 10px 0 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #5A5959;
}

.rightbox { 
    background-color: $main_color;
    color: #FFF;
    padding-left:25px;
    padding-right:25px; 
    padding:40px;
    font-family: $header-font; 
     font-weight:600;
     font-size: 1.5rem;
     margin-top: 20px;
     margin-left:15px;
    }


.box h1, .rightbox h1 { 
    text-transform: uppercase;  
    font-family: $header-font; 
    font-weight:600;
    font-size: 1.6rem;
    line-height: 1.8rem;
    color: #FFF;
    letter-spacing: 0.25px;
    margin: 10px 0 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #FFF;
    }

.tabletitle {   
    font-family: $header-font; 
    font-weight:700;
    font-size: 1.5rem;
    color: $main_color;
    }


.footer{
    padding-bottom:30px;
}

th { 
    border-left: 1px solid #FFF;
    background-color:black;
    color:white;
    padding:10px;
    }  



th, td{
    font-family:$header-font;
    font-size:1.7rem;
    padding: 6px 6px;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px solid #E1E1E1;
    line-height:1.6em;
} 


.annexheader{
    color:$main-color;
}

.annex p{
    font-family:$header-font;
}

.annex ul{
    font-family:$header-font;
}

.purple{
    background-color:#f2e6f0;
}
    
.tablesub th { 
    background-color: #666;
    }   
    
.ttwrapper {
    border-bottom: 1px solid #000;
    }   
    
.sidebar {
    font-family: $header-font; 
    font-weight:600;
    font-size: 1.3rem;
    line-height: 1.4;
}

.summary {
    font-family: $header-font; 
    font-size: 2rem;
    line-height: 1.6;
    color: #000;
}
    

.chapter1 h1, .chapter1 h4 { 
    color: #FFF;
    }
    
.footer { 
    background-color: #F0AB00;
    font-family: $header-font; 
    font-weight:600;
    color: #FFF;
    padding-top: 20px;
    font-size: 1.3rem;  
    line-height: 1.4;
    }   
    
.figure { 
    text-align:center;
    }   

.socmedia { 
    text-align: right;
    width: 100%;
    }
    
.references {
    font-family: $header-font; 
    font-weight:300;
    font-size: 1.5rem;
    line-height: 1.4;
    color: #333;
    }   

.charts {
    font-family: $header-font; 
    font-weight:600;
    font-size: 1.3rem;
    line-height: 1.5rem;
    color: #333;
    }   

.charts p {
    margin: 5px;
    font-family:$header-font-2;
    font-size:1.5rem;
    }   
    
.gray { 
    background-color: #EFEFEF;
    }   

    
.share { 
    float: right;
    font-family: $header-font; 
    font-weight:600;
    width: 75px;
    font-size: 1.2rem;
    color: #FFF;
    text-align: center;
    background-color: #CCC;
    margin: 2px 0;
    border-radius: 4px;
    padding: 3px 0;
    }   
    
.nav {
    font-family: $header-font; 
    font-weight:300;
    font-size: 1.7rem;
    color: $main_color;
    text-decoration: none;
}
    
.nav:hover { 
  color: #000;
}
  
.nav:visited {
  color: $main_color; }
  
.navmain li a {
    font-family: $header-font; 
    font-weight:300;
    font-size: 1.6rem;
    color: $main_color;
    text-decoration: none;
    }

.navmain li ul li {
    font-size: 1.4rem;
    }   
    
.navmain li a:hover { 
  color: #000; 
      border-bottom: 2px solid #000;
    padding-bottom: 1px;
}
  
.navmain li a:visited {
  color: $main_color;
    text-decoration: none;
     }
  
.navmain li { 
    list-style: none;
    margin-left: 0;   
    margin-bottom: .1rem;
}

.navmain li:before{
    display:none;
}

.navmain{
    margin:0;
    padding:0;
}
  
.endnotes td, .endnotes td:first-child {
    border: none;
    padding: 3px 0;
    font-family: $header-font;
}  

.invis {
    width: 5px;
    height: 350px;
}       



#chartContainerES1 {
    min-width: 310px; height: 400px; max-width: 800px; margin: 0 auto
}

.body-container {
    position: relative;
    transition: all .3s;
    //transform: translateX(-100px);
}

.menu-active {
    transform: translateX(-350px);
}